<div class="container">
	<div class="col-md-3 col-sm-6 col-xs-12 edit_wrapper">
		<div class="edit_module hvr-bob" style="margin:1%">
		<a href="#products"><div class="edit_module_img"></div></a>
		<div class="row"><div class="col-md-12" style="text-align:center;padding-top:5%"><p>Edit Products</p></div></div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-12 edit_wrapper">
		<div class="edit_module hvr-bob" style="margin:1%">
		<a href="#harddelete"><div class="delete_module_img"></div></a>
		<div class="row"><div class="col-md-12" style="text-align:center;padding-top:5%"><p>Delete Products</p></div></div>
		</div>
	</div>
</div>